h1, p {
  text-align: center;
}

#primeira {
  background-color: red ;
}

#segunda {
  background-color: orangered;
}

#terceira {
  background-color: orange;
  font-size: larger;
}

#quarta {
  background-color: yellow;
}

#quinta {
  background-color: yellowgreen;
}

div:hover {
  color: cornsilk;
}

h3 {
  text-align: center;
  font-style: italic; 
  
}