
        body {
            background-color: rgb(59, 151, 255);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
        }
        h1  {
            font-size: 65px;
            color: orangered;
            
        
        }
        h2 {
            color: rgb(251, 255, 40);
        }
        #descrição {
            background-color: rgb(231, 74, 176);
        }
        #personalidade {
            color: rgb(251, 255, 40);
        }
        .listas{
            background-color: white;
            font-weight: bold;
        }
        #raças {
            background-color: black;
            color: white;
            font-style: italic;
        }
    